In [39]:
import json
import pandas as pd

In [32]:
def load_C2scrape_data(path):
    try:
        fa = open(path, "r")
        df = pd.DataFrame.from_dict(json.load(fa)).T
    except:
        print("Could not load workouts data file.")
        df = None
    return df

df_athletes = load_C2scrape_data("output/C2Athletes.json")

df_extended = load_C2scrape_data("output/C2Extended.json")
df_workouts = load_C2scrape_data("output/C2Workouts.json")

In [33]:
print(df_athletes)

                      name availablity age         country        location  \
1157105     Benjamin Smith   available  32       Australia   Brisbane, QLD
1120032         Jasper Liu   available  26   United States             NaN
451524          Chris Gray   available  29   United States     Raleigh, NC
1301914  Frederick Hancock   available  19  United Kingdom             NaN
1189208        Itai Almogy   available  19   United States             NaN
...                    ...         ...  ..             ...             ...
1250363          John Oney   available  23   United States   Greenwich, OH
737313         Alan Aikens   available  54   United States  Dorchester, MA
1210804       George Watts   available  41   United States              UT
1083487      Amir Mishriky   available  43           Egypt           Cairo
1039194       HELIN GERARD   available  71          France  LA FERTE ALAIS

                                  team      height  weight logbook id  \
1157105                   Fusion Sport   6 ft 0 in  162 lb    1157105
1120032                            NaN         NaN     NaN    1120032
451524       Row House Raleigh Midtown   6 ft 4 in  190 lb     451524
1301914      Forum Flyers (since 2001)   6 ft 2 in  163 lb    1301914
1189208                            NaN         NaN     NaN    1189208
...                                ...         ...     ...        ...
1250363                            NaN  5 ft 10 in  177 lb    1250363
737313             Cambridge Boat Club         NaN  238 lb     737313
1210804                            NaN   5 ft 7 in  178 lb    1210804
1083487  Fitness Matters Indoor Rowing  5 ft 10 in  185 lb    1083487
1039194                            NaN   6 ft 2 in  201 lb    1039194

               member since            retrieved  \
1157105  September 28, 2017  13-03-2021 12:24:37
1120032   December 30, 2016  13-03-2021 12:24:37
451524    November 22, 2007  13-03-2021 12:24:38
1301914   December 04, 2019  13-03-2021 12:24:38
1189208      March 08, 2018  13-03-2021 12:24:38
...                     ...                  ...
1250363   February 08, 2019  14-03-2021 14:03:20
737313   September 28, 2008  14-03-2021 14:03:20
1210804     August 18, 2018  14-03-2021 14:03:23
1083487   February 21, 2016  14-03-2021 14:03:29
1039194   February 22, 2015  14-03-2021 14:03:38

                                         affiliation   wingspan website email  \
1157105                                          NaN        NaN     NaN   NaN
1120032                                          NaN        NaN     NaN   NaN
451524   University of North Carolina at Chapel Hill        NaN     NaN   NaN
1301914                                 Forum Flyers  6 ft 5 in     NaN   NaN
1189208                                          NaN        NaN     NaN   NaN
...                                              ...        ...     ...   ...
1250363                                          NaN        NaN     NaN   NaN
737313                           Cambridge Boat Club        NaN     NaN   NaN
1210804                                          NaN        NaN     NaN   NaN
1083487                              Fitness Matters        NaN     NaN   NaN
1039194                                          NaN  6 ft 4 in     NaN   NaN

        adaptive rowing category adaptive skiing category
1157105                      NaN                      NaN
1120032                      NaN                      NaN
451524                       NaN                      NaN
1301914                      NaN                      NaN
1189208                      NaN                      NaN
...                          ...                      ...
1250363                      NaN                      NaN
737313                       NaN                      NaN
1210804                      NaN                      NaN
1083487                      NaN                      NaN
1039194                      NaN                      NaN

[81027 rows x 17 columns]

In [34]:
print(df_extended)

           age    gender weight class          country verified  \
45106891   18      Male          Lwt     United States      Yes
51182039   42      Male          Lwt     United States      Yes
51157298   32      Male          Lwt         Australia      Yes
50803540   24      Male          Lwt            France      Yes
49949686   19      Male          Lwt    United Kingdom      Yes
...        ...       ...          ...              ...      ...
34619955   55    Female           NaN   United Kingdom       No
34898628   52    Female           NaN           Norway       No
35443299   22    Female           NaN    United States       No
34790536   27    Female           NaN    United States      Yes
35223315   36    Female           NaN          Belgium       No

                   type      time distance     pace  \
45106891   Indoor Rower   1:00.0      379m   1:19.1
51182039   Indoor Rower   1:00.0      366m   1:21.9
51157298   Indoor Rower   1:00.0      397m   1:15.5
50803540   Indoor Rower   1:00.0      366m   1:21.9
49949686   Indoor Rower   1:00.0      389m   1:17.1
...                 ...       ...      ...      ...
34619955        BikeErg   8:22.0    4,000m   2:05.5
34898628        BikeErg   8:23.8    4,000m   2:05.9
35443299        BikeErg   8:24.9    4,000m   2:06.2
34790536        BikeErg   8:25.6    4,000m   2:06.4
35223315        BikeErg   8:34.3    4,000m   2:08.5

                                  date           entered            retrieved  \
45106891                June 13, 2020                Web  13-03-2021 12:24:37
51182039    February 02, 2021 18:15:00       ErgData iOS  13-03-2021 12:24:38
51157298    February 02, 2021 20:16:00   ErgData Android  13-03-2021 12:24:38
50803540     January 23, 2021 23:08:00   ErgData Android  13-03-2021 12:24:39
49949686     January 02, 2021 19:28:00       ErgData iOS  13-03-2021 12:24:39
...                                ...               ...                  ...
34619955   September 07, 2018 18:16:00       ErgData iOS  14-03-2021 14:03:42
34898628           September 30, 2018                Web  14-03-2021 14:03:42
35443299            November 15, 2018                Web  14-03-2021 14:03:42
34790536   September 22, 2018 13:09:00   ErgData Android  14-03-2021 14:03:42
35223315             October 28, 2018                Web  14-03-2021 14:03:43

         race adaptive category
45106891  NaN               NaN
51182039  NaN               NaN
51157298  NaN               NaN
50803540  NaN               NaN
49949686  NaN               NaN
...       ...               ...
34619955  NaN               NaN
34898628  NaN               NaN
35443299  NaN               NaN
34790536  NaN               NaN
35223315  NaN               NaN

[331747 rows x 14 columns]

In [35]:
print(df_workouts)

         pos.               name age           location country  \
51157298    1     Benjamin Smith  32      Brisbane, QLD     AUS
49949686    2  Frederick Hancock  19               None     GBR
48271042    3         Jasper Liu  26               None     USA
45106891    4        Itai Almogy  18               None     USA
48223141    5         Chris Gray  29        Raleigh, NC     USA
...       ...                ...  ..                ...     ...
38060086   42      Steven Meador  63     Hershey ðŸ‡ºðŸ‡¸, PA     USA
36865147    1      Kirsten Kline  30        Houston, TX     USA
34894246    2        Katrin JÃ¼ch  42          Pattensen     GER
33478889    3       Terry Laskey  64    Morrisville, VT     USA
36343943    4           Fei Yuan  36  Fresh Meadows, NY     USA

                                     club/affiliation distance verified  year  \
51157298                                         None      397      Yes  2021
49949686                                 Forum Flyers      389      Yes  2021
48271042                                         None      386      Yes  2021
45106891                                         None      379      Yes  2021
48223141  University of North Carolina at Chapel Hill      372      Yes  2021
...                                               ...      ...      ...   ...
38060086           Washington University in St. Louis      NaN      Yes  2019
36865147                       Engine by Carson (EBC)      NaN      Yes  2019
34894246                               Mobility3sixty      NaN      Yes  2019
33478889               Concept2, Inc, Morrisville, VT      NaN      Yes  2019
36343943                            CrossFit Flushing      NaN       No  2019

          machine   event            retrieved profile_id  rower weight  \
51157298    rower       1  13-03-2021 12:24:35    1157105  rower      L
49949686    rower       1  13-03-2021 12:24:35    1301914  rower      L
48271042    rower       1  13-03-2021 12:24:35    1120032  rower      L
45106891    rower       1  13-03-2021 12:24:35    1189208  rower      L
48223141    rower       1  13-03-2021 12:24:35     451524  rower      L
...           ...     ...                  ...        ...    ...    ...
38060086  bikeerg  100000  14-03-2021 04:06:48    1060250
36865147  bikeerg  100000  14-03-2021 04:06:50    1223199
34894246  bikeerg  100000  14-03-2021 04:06:50    1189710
33478889  bikeerg  100000  14-03-2021 04:06:50       7270
36343943  bikeerg  100000  14-03-2021 04:06:50    1214385

         gender adaptive category       time
51157298      M               NaN        NaN
49949686      M               NaN        NaN
48271042      M               NaN        NaN
45106891      M               NaN        NaN
48223141      M               NaN        NaN
...         ...      ...      ...        ...
38060086      M               NaN  4:26:36.6
36865147      F               NaN  3:20:23.4
34894246      F               NaN  4:11:31.8
33478889      F               NaN  4:33:07.0
36343943      F               NaN  4:44:30.4

[331944 rows x 19 columns]

In [36]:
#get basic stats:

print(f"Number of workouts: {len(df_workouts)}")
print(f"Number of athletes: {len(df_athletes)}")
print(f"Number of extended workout data: {len(df_extended)}")

print("Indoor rowing machine, workouts by event:")
df_workouts_by_year_event = df_workouts[(df_workouts["rower"] == "rower") & (df_workouts["machine"] == "rower")][["event","year"]].value_counts().to_frame().sort_values(by=["event", "year"])

print(df_workouts_by_year_event)

Number of workouts: 331944
Number of athletes: 81027
Number of extended workout data: 331747
Indoor rowing machine, workouts by event:
                 0
event  year
1      2019   2473
       2020   2680
       2021   6411
4      2019   1493
       2020   2355
       2021   2636
30     2019   7659
       2020  10468
       2021  12668
60     2019   3043
       2020   3874
       2021   5200
100    2019   2797
       2020   3247
       2021   4398
500    2019   7061
       2020   8604
       2021   8749
1000   2019  10556
       2020  12796
       2021  11007
2000   2019  15071
       2020  16457
       2021  18794
5000   2019  12346
       2020  15565
       2021  20350
6000   2019   3294
       2020   5302
       2021   6914
10000  2019   8436
       2020  10657
       2021  15163
21097  2019   3225
       2020   4144
       2021   6239
42195  2019   1083
       2020   1265
       2021   1810
100000 2019     57
       2020     75
       2021    127