In [3]:
import json
import pandas as pd

In [6]:
try:
    df_athletes = pd.read_json("output/C2Athletes_cache.json", orient='index')
except:
    print("Could not load athletes data file.")
    athletes={}

try:
    df_workouts = pd.read_json("output/C2Rankings.json", orient='index')
except:
    print("Could not load workouts data file.")

try:
    df_extended = pd.read_json("output/C2Extended_cache.json", orient='index')
except:
    print("Could not load extended data file.")

In [7]:
print(df_athletes)

                      name availablity  age         country       location  \
1157105     Benjamin Smith      public   32       Australia  Brisbane, QLD
1301914  Frederick Hancock   logged in  NaN             NaN            NaN
1120032         Jasper Liu      public   26   United States            NaN
1189208        Itai Almogy      public   19   United States            NaN
451524          Chris Gray      public   29   United States    Raleigh, NC
...                    ...         ...  ...             ...            ...
1288299   Mikaela Bonalumi      public   36          Sweden            NaN
1338261         Enya Lyons      public   28  United Kingdom            NaN
1356761       Naomi McMinn      public   33  United Kingdom            NaN
1251102   allyson GYRMAKIS      public   43       Australia            NaN
1320188     Mattias Thoren      public   41          Sweden          Malmö

                              team     height  weight  logbook id  \
1157105               Fusion Sport  6 ft 0 in  162 lb   1157105.0
1301914                        NaN        NaN     NaN         NaN
1120032                        NaN        NaN     NaN   1120032.0
1189208                        NaN        NaN     NaN   1189208.0
451524   Row House Raleigh Midtown  6 ft 4 in  190 lb    451524.0
...                            ...        ...     ...         ...
1288299                        NaN        NaN     NaN   1288299.0
1338261                        NaN        NaN     NaN   1338261.0
1356761                        NaN        NaN     NaN   1356761.0
1251102                        NaN        NaN     NaN   1251102.0
1320188              Born in 1979!  6 ft 1 in  165 lb   1320188.0

               member since                                  affiliation  \
1157105  September 28, 2017                                          NaN
1301914                 NaN                                          NaN
1120032   December 30, 2016                                          NaN
1189208      March 08, 2018                                          NaN
451524    November 22, 2007  University of North Carolina at Chapel Hill
...                     ...                                          ...
1288299    October 06, 2019                                          NaN
1338261      March 24, 2020                           Marlow Rowing Club
1356761      April 28, 2020                                          NaN
1251102   February 12, 2019               Body coaching high performance
1320188   February 02, 2020                                          NaN

        wingspan website email adaptive rowing category  \
1157105      NaN     NaN   NaN                      NaN
1301914      NaN     NaN   NaN                      NaN
1120032      NaN     NaN   NaN                      NaN
1189208      NaN     NaN   NaN                      NaN
451524       NaN     NaN   NaN                      NaN
...          ...     ...   ...                      ...
1288299      NaN     NaN   NaN                      NaN
1338261      NaN     NaN   NaN                      NaN
1356761      NaN     NaN   NaN                      NaN
1251102      NaN     NaN   NaN                      NaN
1320188      NaN     NaN   NaN                      NaN

        adaptive skiing category            retrieved
1157105                      NaN                  NaN
1301914                      NaN                  NaN
1120032                      NaN                  NaN
1189208                      NaN                  NaN
451524                       NaN                  NaN
...                          ...                  ...
1288299                      NaN  10-03-2021 12:36:51
1338261                      NaN  10-03-2021 12:36:59
1356761                      NaN  10-03-2021 12:37:06
1251102                      NaN  10-03-2021 12:37:09
1320188                      NaN  10-03-2021 12:37:46

[45799 rows x 17 columns]

In [8]:
print(df_workouts)

          pos.               name  age       location country  \
51157298     1     Benjamin Smith   32  Brisbane, QLD     AUS
49949686     2  Frederick Hancock   19           None     GBR
48271042     3         Jasper Liu   26           None     USA
45106891     4        Itai Almogy   18           None     USA
48223141     5         Chris Gray   29    Raleigh, NC     USA
...        ...                ...  ...            ...     ...
49499382     1        Darren  fox   39           None     GBR
46657166     2      Craig Holgate   43           None     GBR
50092065     3     Jason Willmott   50   Bournemouth      GBR
44097391     4     Mattias Thoren   40          Malmö     SWE
47138733     5    David Rackstraw   38     Sunderland     GBR

                                     club/affiliation  distance verified  \
51157298                                         None     397.0      Yes
49949686                                 Forum Flyers     389.0      Yes
48271042                                         None     386.0      Yes
45106891                                         None     379.0      Yes
48223141  University of North Carolina at Chapel Hill     372.0      Yes
...                                               ...       ...      ...
49499382                                         None       NaN      Yes
46657166                                         None       NaN      Yes
50092065                                         None       NaN      Yes
44097391                                         None       NaN      Yes
47138733                                         None       NaN      Yes

          year machine   event            retrieved  profile_id  rower weight  \
51157298  2021   rower       1  10-03-2021 08:24:42   1157105.0  rower      L
49949686  2021   rower       1  10-03-2021 08:24:42   1301914.0  rower      L
48271042  2021   rower       1  10-03-2021 08:24:42   1120032.0  rower      L
45106891  2021   rower       1  10-03-2021 08:24:42   1189208.0  rower      L
48223141  2021   rower       1  10-03-2021 08:24:42    451524.0  rower      L
...        ...     ...     ...                  ...         ...    ...    ...
49499382  2021  skierg  100000  10-03-2021 12:37:39   1364296.0
46657166  2021  skierg  100000  10-03-2021 12:37:41   1340749.0
50092065  2021  skierg  100000  10-03-2021 12:37:42   1368214.0
44097391  2021  skierg  100000  10-03-2021 12:37:43   1320188.0
47138733  2021  skierg  100000  10-03-2021 12:37:46   1108362.0

         gender adaptive category       time
51157298      M               NaN        NaN
49949686      M               NaN        NaN
48271042      M               NaN        NaN
45106891      M               NaN        NaN
48223141      M               NaN        NaN
...         ...      ...      ...        ...
49499382      M               NaN  7:28:32.7
46657166      M               NaN  7:50:42.6
50092065      M               NaN  8:00:46.6
44097391      M               NaN  8:18:36.6
47138733      M               NaN  8:50:29.8

[133103 rows x 19 columns]

In [9]:
print(df_extended)

          age  gender weight class              country verified  \
42306891   42   Male          Lwt         United States      Yes
41880731   29   Male          Lwt               Estonia      Yes
41040174   37   Male          Lwt        United Kingdom      Yes
41162847   44   Male          Lwt    Russian Federation      Yes
42161929   17   Male          Lwt         United States       No
...       ...     ...          ...                  ...      ...
49499382   39   Male           NaN       United Kingdom      Yes
46657166   43   Male           NaN       United Kingdom      Yes
50092065   50   Male           NaN       United Kingdom      Yes
44097391   40   Male           NaN               Sweden      Yes
47138733   38   Male           NaN       United Kingdom      Yes

                   type         time   distance     pace                date  \
42306891   Indoor Rower      1:00.0        375m   1:20.0 2020-02-21 12:11:00
41880731   Indoor Rower      1:00.0        371m   1:20.8 2019-09-16 00:00:00
41040174   Indoor Rower      1:00.0        367m   1:21.7 2019-12-18 00:00:00
41162847   Indoor Rower      1:00.0        367m   1:21.7 2019-12-25 17:09:00
42161929   Indoor Rower      1:00.0        365m   1:22.1 2020-02-11 00:00:00
...                 ...          ...        ...      ...                 ...
49499382         SkiErg   7:28:32.7    100,000m   2:14.5 2020-12-19 14:54:00
46657166         SkiErg   7:50:42.6    100,000m   2:21.2 2020-09-01 00:00:00
50092065         SkiErg   8:00:46.6    100,000m   2:24.2 2020-12-29 00:00:00
44097391         SkiErg   8:18:36.6    100,000m   2:29.5 2020-05-02 17:45:00
47138733         SkiErg   8:50:29.8    100,000m   2:39.1 2020-09-24 18:13:00

                    entered  \
42306891        ErgData iOS
41880731                Web
41040174                Web
41162847    ErgData Android
42161929                Web
...                     ...
49499382    ErgData Android
46657166                Web
50092065                Web
44097391   Concept2 Utility
47138733        ErgData iOS

                                          adaptive category race  \
42306891                                                NaN  NaN
41880731    PR3 (PD) (Legs, Trunk, Arms—Physically Disab...  NaN
41040174                                                NaN  NaN
41162847                                                NaN  NaN
42161929                                                NaN  NaN
...                                                     ...  ...
49499382                                                NaN  NaN
46657166                                                NaN  NaN
50092065                                                NaN  NaN
44097391                                                NaN  NaN
47138733                                                NaN  NaN

                    retrieved
42306891                  NaN
41880731                  NaN
41040174                  NaN
41162847                  NaN
42161929                  NaN
...                       ...
49499382  10-03-2021 12:37:41
46657166  10-03-2021 12:37:42
50092065  10-03-2021 12:37:43
44097391  10-03-2021 12:37:45
47138733  10-03-2021 12:37:47

[134319 rows x 14 columns]

In [69]:
#get basic stats:

print("Number of workouts: {}".format(len(df_workouts)))
print("Number of athletes: {}".format(len(df_athletes)))
print("Number of extended workout data: {}".format(len(df_extended)))

print("Indoor rowing machine, workouts by event:")
print(df_workouts[(df_workouts["rower"] == "rower") & (df_workouts["machine"] == "rower")][["event"]].value_counts())



#print(df_workouts["event"].value_counts())


#number of public athlete profiles

#number of private athlete profiles
#number of logged in only athlete profiles

Number of workouts: 133103
Number of athletes: 45799
Number of extended workout data: 134319
Indoor rowing machine, workouts by event:
event
5000      20097
2000      18573
10000     15034
30        12533
1000      10433
500        8675
6000       6867
1          6457
21097      6216
60         5160
100        4427
4          2612
42195      1803
100000      127
dtype: int64